/* Reset default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  header{
    padding: 5px;
    background-color:brown;
  }
  
  /* Container styles */
  .wepsite {
    max-width: 600px;
    margin: 80px auto;
    padding: 20px;
    background-color:wheat;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Heading styles */
  h1, h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  h2 {
    color: green;
  }
  
  /* Form styles */
  form {
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 15px;
  }
  
  fieldset {
    margin-bottom: 20px;
  }
  
  legend {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"],
  button {
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
  }
  
  input[type="submit"]:hover,
  button:hover {
    background-color: rgba(0, 2, 128, 0.514);
  }
  
  a {
    text-decoration: none;
    color: #007bff;
    display: inline-block;
    margin-right: 10px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  